.signup-container *,
.signup-container *::before,
.signup-container *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.signup-container label{
    font-size: 15px;
     font-weight: 600;
     letter-spacing: 1px;
}

/* .signup-container html, body{
    height: 100%;
    width: 100%;
} */

.signup-container{
    background: #ffffff;
    padding: 30px 20px;
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    box-shadow: 
        0 10px 25px rgba(0, 0, 0, 0.08),
        0 5px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.signup-container > h2{
    text-align: center;
    margin-bottom: 25px;
}

.signup-container > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-container div{
    display: flex;
    flex-direction: column;
}

.signup-container input{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 12px;
    transition: 0.3s ease;
}

.signup-container input::placeholder{
    font-size: 12px;
    font-style: italic;
}

button{
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
}


@media(max-width: 768){
    .signup-container{
        padding: 25px 15px;
        border-radius: 10px;
    }

    .signup-container input{
        font-size: 14px;
    }
} 